.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  color: black;
  text-decoration: none;
}

.container .skeletonImg {
  width: 80px;
  height: 101px;
  background-color: #e0e0e0;
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.author {
  color: gray;
}

.container .skeletonInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .skeletonInfo > div:nth-child(1) {
  width: 60%;
  height: 20px;
  background-color: #e0e0e0;
}

.container .skeletonInfo > div:nth-child(2) {
  width: 50%;
  height: 20px;
  background-color: #e0e0e0;
}

.container .skeletonInfo > div:nth-child(3) {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
}
