.form_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_container textarea {
  width: 100%;
  height: 100px;
  min-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
}

.form_container input {
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
}

.form_container button {
  width: 80px;
  padding: 10px;
  background-color: rgb(37, 147, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_container .submit_container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
